<div class="navbar-default sidebar" role="navigation"
	layout:fragment="sidebar">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li><a href="/sample/sample"><i class="fa fa-dashboard fa-fw"></i>
					sample</a></li>
			<li><a href="/sample/sampleExcelDown"><i class="fa fa-dashboard fa-fw"></i>
					sampleExcelDown</a></li>	
			<li><a href="/calc/shop-owner-calc-detail"><i class="fa fa-dashboard fa-fw"></i>
					업주정산상세화면</a></li>


		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>